<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/about.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/axios/dist/axios.standalone.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/CryptoJS/rollups/hmac-sha256.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/CryptoJS/rollups/sha256.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/CryptoJS/components/hmac.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/CryptoJS/components/enc-base64.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/url-template/url-template.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/apiGatewayCore/sigV4Client.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/apiGatewayCore/apiGatewayClient.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/apiGatewayCore/simpleHttpClient.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/group25hotel/js/lib/apiGatewayCore/utils.js"></script>
  <script type="text/javascript" src="/static/js/apigClient.js"></script>
  <script type="text/javascript">
    function sendemail() {
      var result = "name:\n";
      result += document.getElementById('name1').value.toString();
      result += "\nphone:\n";
      result += document.getElementById('phone1').value.toString();
      result += "\nmessage:\n";
      result += document.getElementById('message1').value.toString();
      //result = result.replace("@", " at ");
      //alert(result);
      var body = {message:result};
      var params = {};
      var additionalParams = {};
      var apigClient = apigClientFactory.newClient();
      apigClient.rootPost(params, body, additionalParams)
          .then(function(result){
              alert("Email sent!");
          }).catch( function(result){
              alert("Sorry, an unexpected error occurred. Please check back later!");
          });
    }
    function hey() {
      execute = true;
    }
  </script>
	<!-- <div id="includedHeader"></div> -->
  {% include 'header.html' %}

  <div class="container" id="container-div">
  <section class="row">
  <div class="col-md-6">
    <h2>Personal Information</h2>
    <br>
    <section class="row">
    <div class="col-sm-3">
      <p>Name:</p>
    </div>
    <div class="col-sm-9">
      <p>Minke Cheng</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>D.O.B:</p>
    </div>
    <div class="col-sm-9">
      <p>April 21, 1995</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>Job:</p>
    </div>
    <div class="col-sm-9">
      <p>Student</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>Phone:</p>
    </div>
    <div class="col-sm-9">
      <p>(347)267-3319</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>Email:</p>
    </div>
    <div class="col-sm-9">
      <p>chengminke13@gmail.com</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>Address:</p>
    </div>
    <div class="col-sm-9">
      <p>1300 Crossing Pl, Austin, TX, US</p>
    </div>
    </section>

    <section class="row">
    <div class="col-sm-3">
      <p>Website:</p>
    </div>
    <div class="col-sm-9">
      <p>#</p>
    </div>
    </section>

  </div>

  <div class="col-md-6">
    <a href="https://goo.gl/maps/KPAPwVkCAK12"></a>
    <div id="map-div">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13781.13598075684!2d-97.74043737037483!3d30.28597578791226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b59a91b6ed65%3A0x1127f4ad837647e0!2sUniversity+of+Texas+at+Austin%2C+Austin%2C+TX!5e0!3m2!1sen!2sus!4v1526251345794" width="100%" height="350" frameborder="0" style="border:5px" allowfullscreen></iframe>
    </div>
  </div>

</section>
<hr>

  <h2 id="contact">
    Contact Me
  </h2>
  <div class="form-group">
    <label for="name1">Your name</label>
    <input type="text" class="form-control" id="name1" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="email1">Your email address</label>
    <input type="text" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
  </div> 
  <div class="form-group">
    <label for="phone1">Your phone number</label>
    <input type="text" class="form-control" id="phone1" placeholder="Enter phone number">
  </div>
  <div class="form-group">
    <label for="message1">Message</label>
    <textarea name="textarea" id = "message1" class="form-control" placeholder="Message"></textarea>
  </div>

  <button class="btn btn-primary" onclick="sendemail()">Submit</button>
</div>
</body>
</html>