<header>	
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<div class="container">	
			<div id="logo"></div>
  			<button class="navbar-toggler float-md-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="collapse-button">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active">
       					<a class="nav-link" href="/" id="home-link">Home <span class="sr-only">(current)</span></a>
      				</li>
     				<li class="nav-item">
        				<a class="nav-link" href="/experience" id="experience-link">Experience</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/about" id="about-link">About</a>
      				</li>
    			</ul>
    			<a href="https://www.facebook.com/minke.cheng" target="_blank" class="facebook-icon">
    				<i class="fab fa-facebook-square"></i>
    			</a>
    			<a href="https://www.linkedin.com/in/minke-cheng-a0b5b9158" target="_blank" class="linkedin-icon">
    				<i class="fab fa-linkedin-in"></i>
    			</a>
  			</div>
  		</div>
		</nav>
	</header>
  <script type="text/javascript" src="/static/js/header.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/header.css">